hr {
    width: 350px;
}
.btn{
    width: 100%;
    background-color: rgba(2, 2, 2, 0.1);
    padding: 20px;
    color: rgb(219, 24, 17);
    text-decoration: underline;
    border: transparent;
}
.btn:hover{
    color: rgba(24, 45, 165, 0.781);
    text-decoration: underline;
    border: transparent;
}
.btn:focus {
    box-shadow: 0 0 0 0rem rgba(0,123,255,.25);
}
.paragraf {
    border-left:black dashed 1px;
    border-right: black dashed 1px;
    padding: 20px;
}
.last {
    border-bottom: black dashed 1px;
}