$font-color: #fff;
$font-color-blue: rgba(0, 29, 138,0.35);
$font-color-orange: #ecd407;
$font-color-grey: #292929;
@mixin font{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: $font-color;
}

@mixin icon{
    color: $font-color-orange;
    font-size: 2.2em;
    margin: 0;
    padding: 0;
}
@mixin icon-big{
    color: $font-color-orange;
    font-size: 2.6em;
    margin: 0;
    padding-bottom: 5px;
    display: inline-block;
}
@mixin icon-white{
    color: $font-color;
    font-size: 2.2em;
    margin: 0;
    padding: 0;
}

@mixin paragraf-min{
    font-size: 12px;
    margin: 0;
    padding: 0;
}

@mixin paragraf-bold{
    font-size: 17px;
    margin: 0;
    padding: 0;
}

@mixin paragrafNadFormularzem{
    font-size: 22px;
    font-weight: 700;
    padding-bottom: 20px;

}
